# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
flutter_*.png
generated_plugin_registrant.dart

# Logs
*.log

# Environment files
.env
.env.*

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/
.history/

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web
web/.dart_tool/

# Coverage
coverage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Misc
*.lock
*.tmp
*.swp
*.DS_Store
Thumbs.db
